<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>SgOvi - Menú Asistente</title>
</head>
<body>

<div layout:fragment="content">
    <section class="menu-container">
        <header class="app-header">
            <h1 class="title">Panel del Asistente (PAP/PATI)</h1>
            <p class="description">Bienvenido a tu panel de gestión. Selecciona una opción para continuar.</p>
        </header>

        <nav class="menu-grid">
            <a th:href="@{/Activity/list}" class="btn btn-primary" title="Ver las actividades a las que me he inscrito">Mis actividades</a>
            <a th:href="@{/Pap_Pati/APList}" class="btn btn-primary" title="Ver las actividades personales asociadas">Asistencias Personales</a>
            <a th:href="@{/Contracts/list}" class="btn btn-primary" title="Ver mis contratos asociados">Mis contratos</a>
            <a th:href="@{/profile}" class="btn btn-primary" title="Actualizar mis datos personales">Cambiar datos personales</a>
        </nav>

        <div class="content-footer">
            <a th:href="@{/}" class="btn btn-secondary btn-icon" title="Volver al inicio"> <i class="fi fi-rr-arrow-left"></i> Inicio</a>
            <a th:href="@{/logout}" class="btn btn-secondary btn-icon" title="Cerrar sesión">Cerrar sesión <i class="fi fi-rr-exit"></i></a>
        </div>
    </section>

</div>

</body>
</html>