<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>SgOvi - Detalles de Asistencia</title>
</head>
<body>

<div layout:fragment="content">
    <section class="page-container">
        <header class="app-header">
            <h1 class="title">Detalles de la Asistencia</h1>
            <p class="description">Información detallada sobre la asignación seleccionada.</p>
        </header>

        <div class="info-container">
            <div class="section-title">DATOS DE LA SOLICITUD</div>

            <div class="detail-row">
                <div class="detail-label">Título</div>
                <div class="detail-value" th:text="${assistance.tittle}"></div>
            </div>

            <div class="detail-row">
                <div class="detail-label">Solicitante</div>
                <div class="detail-value" th:text="${oviUserName}"></div>
            </div>

            <div class="detail-row">
                <div class="detail-label">Fecha de Inicio</div>
                <div class="detail-value" th:text="${assistance.date != null ? #temporals.format(assistance.date, 'dd/MM/yyyy') : '--/--/----'}"></div>
            </div>

            <div class="detail-row">
                <div class="detail-label">Ubicación (Provincia)</div>
                <div class="detail-value" th:text="${assistance.province}"></div>
            </div>

            <div class="section-title">Descripción de la solicitud</div>
            <div class="textarea-container">
                <div class="textarea-read-only" th:text="${assistance.description}"></div>
            </div>
        </div>

        <div class="button-group">
            <a th:href="@{/Pap_Pati/APList}" class="btn btn-secondary btn-icon" title="Volver al listado de las asistencias asociadas"> <i class="fi fi-rr-arrow-left"></i> Volver al listado</a>
            <a th:href="@{/Assistance_Request/communication/{idSelection}(idSelection=${selection.idSelection}, idAsReq=${selection.idAsReq})}"
               class="btn btn-secondary btn-icon">Chat <i class="fi fi-rr-comment-alt-dots"></i> </a>

        </div>
    </section>

    <div class="bottom-spacer"></div>
</div>

</body>
</html>