<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <link rel="stylesheet" href="../../style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h1>Nueva persona</h1>
    <form th:action="@{si}" th:object="${person}" method="post">

        <div>
            <label for="province">Provincia: </label>
            <input id="province" type="text" th:field="*{province}">
            <div th:if="${#fields.hasErrors('province')}" th:errors="*{province}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>
        </div>

        <button type="submit">Añadir </button>
    </form>
</main>
</body>
</html>