<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Registro Usuario Ovi</title>
</head>
<body>
<main>
<h1>Nuevo Usuario Ovi</h1>
    <form th:action="@{/Register/registerOviUser}" th:object="${oviuser}" method="post">
        <input type="hidden" th:field="*{dni}" />

        <div>
            <label for="birthdaydate">BirthdayDate: </label>
            <input id="birthdaydate" type="date" th:field="*{birthdayDate}">
            <div th:if="${#fields.hasErrors('birthdayDate')}" th:errors="*{birthdayDate}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>
        </div>


        <div>
            <label for="address">Dirección: </label>
            <input id="address" type="text" th:field="*{address}">
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>
        </div>

        <div>
            <label for="legalGuardian">Nombre del tutor: </label>
            <input id="legalGuardian" type="text" th:field="*{legalGuardian}">
            <div th:if="${#fields.hasErrors('legalGuardian')}" th:errors="*{legalGuardian}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>
        </div>

        <div>
            <label for="userPreferences">Preferencias de usuario: </label>
            <input id="userPreferences" type="text" th:field="*{userPreferences}">
            <div th:if="${#fields.hasErrors('userPreferences')}" th:errors="*{userPreferences}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>
        </div>
        
        <button type="submit">Añadir </button>
    </form>
</main>
</body>
</html>