<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Registro Asistente personal</title>
</head>
<body>
<main>
    <h1>Nuevo Asistente personal </h1>
    <form th:action="@{/Register/registerPapPati}" th:object="${pappati}" method="post">
        <input type="hidden" th:field="*{dni}" />

        <div>
            <label>Tipo de asistente personal :</label>

            <input type="radio" id="PAP" value="PAP" th:field="*{type}">
            <label for="PAP">Pap (Asistente personal para personas desde 18 años hasta los 64 años) </label>

            <input type="radio" id="PATI" value="PATI" th:field="*{type}">
            <label for="PATI">Pati (Persona asistente terapeutica infantil) </label>

            <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>

        </div>

        <div>
            <label for="address">Dirección: </label>
            <input id="address" type="text" th:field="*{address}">
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>

        </div>

        <div>
            <label for="available">Disponibilidad: </label>
            <input id="available" type="checkbox" th:field="*{available}">
        </div>

        <div>
            <label for="drivingLicense">Carnet de conducir? </label>
            <input id="drivingLicense" type="checkbox" th:field="*{drivingLicense}">
        </div>
        <div>
            <label for="training">Especialidades: </label>
            <input id="training" type="text" th:field="*{training}">
            <div th:if="${#fields.hasErrors('training')}" th:errors="*{training}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>

        </div>

        <div>
            <label for="experience">Años de experiencia: </label>
            <input id="experience" type="number" th:field="*{experience}">
            <div th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>

        </div>

        <div>
            <label for="document">Enlace a documento: </label>
            <input id="document" type="text" th:field="*{document}">
            <div th:if="${#fields.hasErrors('document')}" th:errors="*{document}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>

        </div>

        <div>
            <label>Que horario estas disponible :</label>

            <input type="radio" id="MORNING" value="MORNING" th:field="*{shift}">
            <label for="MORNING">Mañanas </label>

            <input type="radio" id="AFTERNOON" value="AFTERNOON" th:field="*{shift}">
            <label for="AFTERNOON">Tardes </label>

            <input type="radio" id="ANY" value="ANY" th:field="*{shift}">
            <label for="ANY">Tardes </label>

            <div th:if="${#fields.hasErrors('shift')}" th:errors="*{shift}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>

        </div>



        <button type="submit">Añadir </button>
    </form>
</main>
</body>
</html>