<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Gestionar Ovi Users</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Lista de Ovi Users</h1>
<table>
    <thead>
    <tr>
        <th>Dni</th>
        <th>Name</th>
        <th>Surname</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>Gender</th>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${persons}">
        <td th:text="${person.dni}"></td>
        <td th:text="${person.name}"></td>
        <td th:text="${person.surname}"></td>
        <td th:text="${person.phoneNumber}"></td>
        <td th:text="${person.email}"></td>
        <td th:text="${person.gender}"></td>
        <td><a th:href="@{/Person/update/{dni}(dni=${person.dni})}">Editar</a>
        </td>
        <td><a th:href="@{/Person/delete/{dni}(dni=${person.dni})}">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Añadir Person</a>
<br><br>
<a href="/" >Volver</a>
</body>
</html>
