<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <meta charset="UTF-8" />
    <title>Actualiza los datos de una persona</title>
</head>

<body>
<main>
    <h1>Actualiza los datos de la persona</h1>
    <form th:action="@{/Person/add}" th:object="${person}" method="post">
        <div>
            <label for="name">Nombre: </label>
            <input id="name" type="text" th:field="*{name}">
        </div>


        <div>
            <label for="surname" >Apellidos</label>
            <input id="surname" type="text" th:field="*{surname}" >
        </div>


        <div>
            <label for="phoneNumber">Tfno.</label>
            <input id="phoneNumber" type="text" th:field="*{phoneNumber}">
        </div>

        <div>

            <label for="email">Email</label>
            <input id="email" th:field="*{email}" >
        </div>

        <div>
            <label for="gender">Género</label>
            <select id="gender" th:field="*{gender}">
                <option th:value="'Hombre'" th:text="Hombre">Hombre</option>
                <option th:value="'Mujer'" th:text="Mujer">Mujer</option>
                <option th:value="'Otro'" th:text="Otro">Otro</option>
            </select>
        </div>

        <button type="submit">Actualizar persona</button>
    </form>
</main>
</body>
</html>
