<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/base}">
<head>
    <title>Gestionar Actividades</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="page-container"  style="max-width: 1100px">
        <h1 class="title">Lista de Actividades</h1>
        <p class="description">Gestione las actividades del sistema desde este panel centralizado.</p>
        <form th:action="@{/Technician/activityList}" th:object="${filter}" method="post" class="filter-bar">
            <div class="filter-group">
                <label for="typeSel">Tipo de Actividad</label>
                <select th:field="*{typeSel}" id="typeSel" class="filter-select" onchange="this.form.submit()">
                    <option value="ALL">Todos los tipos</option>
                    <option th:each="type : ${filter.typeList}"
                            th:value="${type.name()}"
                            th:text="${type.description}"></option>
                </select>
            </div>

            <div class="filter-group">
                <label for="sortSel">Ordenar por</label>
                <select th:field="*{sortSel}" id="sortSel" class="filter-select" onchange="this.form.submit()">
                    <option value="id">ID Actividad</option>
                    <option value="dataAsc">Fecha (Mas lejanas primero)</option>
                    <option value="dataDesc">Fecha (Más próximas primero)</option>
                    <option value="nombreAsc">Nombre (A-Z)</option>
                </select>
            </div>
        </form>
        <div class="table-responsive" th:if="${!activities.isEmpty()}">
            <table class="table-custom" >
                <thead>
                <tr>
                    <th>Id Actividad</th>
                    <th>Tipo</th>
                    <th>Título</th>
                    <th>Fecha</th>
                    <th>Dirección</th>
                    <th style="text-align: center;">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="activity: ${activities}">
                    <td th:text="${activity.idActivity}"></td>
                    <td>
                        <span th:text="${activity.type.getDescription()}"
                              th:class="${'status-badge ' + (activity.type.name() == 'DISSEMINATION' ? 'status-approved' : 'status-pending')}">
                    </span>
                    </td>
                    <td th:text="${activity.tittle}"></td>
                    <td th:text="${activity.date}"></td>
                    <td th:text="${activity.address}"></td>
                    <td>
                        <div class="actions-group">
                            <a class="btn btn-primary btn-icon" title="Editar la actividad"
                               th:href="@{/Technician/activityManagement/{idActivity}(idActivity=${activity.getIdActivity})}">
                                Editar <i class="fi fi-rr-edit"></i>
                            </a>

                            <a class="btn btn-primary btn-icon" title="Borrar la actividad"
                               th:href="@{/Technician/activityList/delete/{idActivity}(idActivity=${activity.getIdActivity})}"
                               th:data-tittle="${activity.tittle}"
                               onclick="return confirm('¿Seguro que deseas eliminar la actividad: ' + this.getAttribute('data-tittle') + '?');">
                                Borrar <i class="fi fi-rr-cross"></i>
                            </a>
                            <a class="btn btn-primary btn-icon" title="Ver los participantes de la actividad"
                               th:if="${activity.getType.name().equals('TRAINING')}"
                               th:href="@{/Technician/activityList/participants/{idActivity}(idActivity=${activity.getIdActivity})} ">Participantes <i class="fi fi-rr-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${#lists.isEmpty(activities)}" class="empty-list-container">
            <p class="empty-list-text">No se han encontrado actividades con los filtros de búsqueda.</p>
        </div>
        <div class="content-footer">
            <a href="/Technician/menuTechnician" class="btn btn-secondary btn-icon" title="Volver al menu">Volver al Menú <i class="fi fi-rr-home"></i></a>
            <a href="/Technician/addActivity" class="btn btn-secondary btn-icon" title="Añadir una nueva actividad">Añadir Nueva Actividad <i class="fi fi-rr-plus"></i></a>
        </div>

    </div>
</div>
</body>
</html>