<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/base}">
<head>
  <meta charset="UTF-8" />
  <title>Crear nueva actividad</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body >
<div  layout:fragment="content">
  <div class="page-container">
    <h1 class="title">Nueva Actividad</h1>
    <p class="description">Rellene los siguientes campos para dar de alta una nueva actividad en el sistema.</p>

    <form th:action="@{/Technician/addActivity}" th:object="${activity}" method="post">

      <div class="textarea-container">
        <label class="detail-label" for="tittle">Título de la actividad:</label>
        <input id="tittle" type="text" th:field="*{tittle}" class="textarea-field-small" required placeholder="Ej: Taller de formación básica">
        <div th:if="${#fields.hasErrors('tittle')}" th:errors="*{tittle}" class="error-text"></div>
      </div>

      <div class="textarea-container">
        <label class="detail-label" for="type">Tipo de Actividad:</label>
        <select id="type" name="type" class="textarea-field-small">
          <option value="DISSEMINATION" th:selected="${type == 'DISSEMINATION'}">Divulgación</option>
          <option value="TRAINING" th:selected="${type == 'TRAINING'}">Formación</option>
        </select>
      </div>

      <div class="textarea-container">
        <label class="detail-label" for="description">Descripción:</label>
        <input id="description" type="text" th:field="*{description}" class="textarea-field-small" required placeholder="Breve resumen de la actividad">
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-text"></div>
      </div>

      <div class="textarea-container">
        <label class="detail-label" for="date">Fecha:</label>
        <input id="date" type="date" th:field="*{date}" class="textarea-field-small" required>
        <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="error-text"></div>
      </div>

      <div class="textarea-container">
        <label class="detail-label" for="address">Dirección:</label>
        <input id="address" type="text" th:field="*{address}" class="textarea-field-small" required placeholder="Ubicación del evento">
        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error-text"></div>
      </div>

      <div class="textarea-container">
        <label class="detail-label" for="capacity">Aforo:</label>
        <input id="capacity" type="number" th:field="*{capacity}" class="textarea-field-small" placeholder="Número máximo de asistentes">
        <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" class="error-text"></div>
      </div>

      <div class="textarea-container">
        <label class="detail-label" for="sponsor">Sponsor:</label>
        <input id="sponsor" type="text" th:field="*{sponsor}" class="textarea-field-small" placeholder="Nombre de la entidad colaboradora">
        <div th:if="${#fields.hasErrors('sponsor')}" th:errors="*{sponsor}" class="error-text"></div>
      </div>

      <div class="textarea-container">
        <label class="detail-label" for="idInstructor">DNI del instructor:</label>
        <input id="idInstructor" type="text" th:field="*{idInstructor}" class="textarea-field-small" placeholder="DNI del profesional encargado">
        <div th:if="${#fields.hasErrors('idInstructor')}" th:errors="*{idInstructor}" class="error-text"></div>
      </div>

      <div class="content-footer">
        <a th:href="@{/Technician/activityList}" class="btn btn-secondary btn-icon" title="Volver al listado de actividades"><i class="fi fi-rr-arrow-left"></i> Volver a la lista</a>
        <button type="submit" class="btn btn-secondary btn-icon" title="Crear actividad"
                onclick="return confirm('Seguro que quieres crear la actividad?');">Crear Actividad <i class="fi fi-rr-plus"></i> </button>
      </div>
    </form>


  </div>
</div>
</body>
</html>