<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
  <meta charset="UTF-8" />
  <title>Crear nueva actividad</title>
</head>


<body>
<main>
  <h1>Nueva Actividad</h1>
  <form th:action="@{/Technician/addActivity}" th:object="${activity}" method="post">

    <div>
      <label for="tittle">Título de la actividad: </label>
      <input id="tittle" type="text" th:field="*{tittle}" required>
      <div th:if="${#fields.hasErrors('tittle')}" th:errors="*{tittle}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>

    </div>

    <div>
      <label for="type">Tipo de Actividad:</label>
      <select id="type" name="type" >
        <option value="DISSEMINATION" th:selected="${type == 'DISSEMINATION'}">Diseminacion</option>
        <option value="TRAINING" th:selected="${type == 'TRAINING'}">Formación</option>
      </select>
    </div>


    <div>
      <label for="description">Descripción: </label>
      <input id="description" type="text" th:field="*{description}" required>
    </div>
    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>


    <div>
      <label for="date">Fecha: </label>
      <input id="date" type="date" th:field="*{date}" required>
    </div>
    <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>


    <div>
      <label for="address">Dirección: </label>
      <input id="address" type="text" th:field="*{address}" required>
    </div>
    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>


    <div>
      <label for="capacity">Aforo: </label>
      <input id="capacity" type="number" th:field="*{capacity}">
    </div>
    <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>


    <div>
      <label for="sponsor">Sponsor: </label>
      <input id="sponsor" type="text" th:field="*{sponsor}">
    </div>
    <div th:if="${#fields.hasErrors('sponsor')}" th:errors="*{sponsor}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>


    <div>
      <label for="idInstructor">DNI del instructor: </label>
      <input id="idInstructor" type="text" th:field="*{idInstructor}">
    </div>
    <div th:if="${#fields.hasErrors('idInstructor')}" th:errors="*{idInstructor}" style="color: red; font-size: 0.9em; margin-top: 5px;"></div>



    <button type="submit">Añadir instructor</button>


  </form>
</main>
</body>
</html>