<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/base}">
<head>
    <title>Gestionar Instructores</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="page-container" layout:fragment="content">

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1 class="title">Lista de Instructores</h1>
    </div>

    <p class="description">Panel de gestión para la administración y edición de los instructores registrados en el sistema.</p>

    <form th:action="@{/Technician/instructorList}" th:object="${filter}" method="post" class="filter-bar">
        <div class="filter-group">
            <label for="sortSel">Ordenar la lista por</label>
            <select th:field="*{sortSel}" id="sortSel" class="filter-select" onchange="this.form.submit()">
                <option value="nameAsc">Nombre (A-Z)</option>
                <option value="nameDesc">Nombre (Z-A)</option>
                <option value="dni">DNI</option>
            </select>
        </div>
    </form>

    <div class="table-responsive" th:if="${!instructors.isEmpty()}">
        <table class="table-custom">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>DNI</th>
                <th>Especialidad</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instructor: ${instructors}">
                <td th:text="${instructor.person.name}"></td>
                <td th:text="${instructor.person.surname}"></td>
                <td th:text="${instructor.person.dni}"></td>
                <td th:text="${instructor.instructor.expertise}"></td>
                <td>
                    <div class="actions-group-centered">
                        <a class="btn btn-primary btn-icon" title="Editar instructor"
                           th:href="@{/Technician/instructorManagement/{dni}(dni=${instructor.person.dni})}">
                            Editar <i class="fi fi-rr-edit"></i>
                        </a>

                        <a class="btn btn-primary btn-icon" title="Eliminar instructor"
                           th:data-name="${instructor.person.dni}"
                           onclick="return confirm('¿Seguro que quieres eliminar el instructor: ' + this.getAttribute('data-name') + '? Esta acción no se puede deshacer');"
                           th:href="@{/Technician/instructorList/delete/{idInstructor}(idInstructor=${instructor.person.dni})}">
                            Eliminar <i class="fi fi-rr-cross"></i>
                        </a>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(instructors)}" class="empty-list-container">
        <p class="empty-list-text">
            No hay instructores disponibles.
        </p>
    </div>
    <div class="content-footer" >
        <a href="/Technician/menuTechnician" class="btn btn-secondary btn-icon" title="Volver al menú del técnico">Volver al menú <i class="fi fi-rr-home"></i> </a>
        <a href="addInstructor" class="btn btn-secondary btn-icon" title="Añadir un instructor">Añadir Instructor <i class="fi fi-rr-plus"></i>
        </a>
    </div>

    <div class="bottom-spacer"></div>
</div>

</body>
</html>