<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Editar Instructor</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Editar PAP/PATI</h1>

<form th:action="@{/Technician/instructorManagement/update}" th:object="${instructor}" method="post">

    <p>
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" th:value="*{dni}" readonly />
    </p>

    <p>
        <label for="expertise">Especialidad:</label>
        <input type="text" id="expertise" name="expertise" th:value="*{expertise}" />
    </p>

    <button type="submit">Guardar cambios</button>

</form>

<br><br>
<a th:href="@{/Technician/instructorList}">Volver a la lista</a>

</body>
</html>