<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-container">
    <h1 class="title">Panel de Administración</h1>
    <p class="description">Seleccione una categoría para gestionar los registros del sistema.</p>

    <nav class="menu-grid">
        <a href="userList" class="btn btn-primary">Lista de Usuarios</a>
        <a href="papPatiList.html" class="btn btn-primary">Lista de Asistentes</a>
        <a href="instructorList.html" class="btn btn-primary">Lista de Instructores</a>
        <a href="apRequestList.html" class="btn btn-primary">Lista de Solicitudes de Asistencia</a>
        <a href="activityList.html" class="btn btn-primary">Lista de Actividades</a>
    </nav>
</div>

</body>
</html>