<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Editar Pap/Pati</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Editar PAP/PATI</h1>

<form th:action="@{/Technician/papPatiManagement/update}" th:object="${papPati}" method="post">

    <p>
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" th:value="*{dni}" readonly />
    </p>

    <p>
        <label for="available">Disponibilidad:</label>
        <input type="checkbox" id="available" name="available" value="true" th:checked="*{available}"/>
    </p>

    <p>
        <label for="address">Dirección:</label>
        <input type="text" id="address" name="address" th:value="*{address}" required />
    </p>

    <p>
        <label for="type">Tipo:</label>
        <select id="type" name="type">
            <option value="PAP" th:selected="*{type == 'PAP'}">PAP</option>
            <option value="PATI" th:selected="*{type == 'PATI'}">PATI</option>
        </select>
    </p>

    <p>
        <label for="training">Entrenamiento:</label>
        <input type="text" id="training" name="training" th:value="${training}" required />
    </p>

    <p>
        <label for="experience">Años de experiencia</label>
        <input type="number" id="experience" name="experience" th:value="${experience}" required />
    </p>

    <p>
        <label for="document">Documento</label>
        <input type="text" id="document" name="document" th:value="${document}" required />
    </p>

    <p>
        <label for="shift">Turno</label>
        <select id="shift" name="shift">
            <option value="MORNING" th:selected="${shift == 'MORNING'}">Mañana</option>
            <option value="AFTERNOON" th:selected="${shift == 'AFTERNOON'}">Tarde</option>
            <option value="ANY" th:selected="${shift == 'ANY'}">Cualquiera</option>
        </select>
    </p>

    <p>
        <label for="drivingLicense">Carné de Conducir:</label>
        <input type="checkbox" id="drivingLicense" name="drivingLicense" value="true" th:checked="${drivingLicense}"/>
    </p>

    <p>
        <label for="state">Estado:</label>
        <select id="state" name="state">
            <option value="PENDING" th:selected="${state == 'PENDING'}">Pendiente</option>
            <option value="APPROVED" th:selected="${state == 'APPROVED'}">Aprovado</option>
            <option value="REJECTED" th:selected="${state == 'REJECTED'}">Rechazado</option>
        </select>
    </p>

    <p>
        <label for="reason">Razón:</label>
        <input type="text" id="reason" name="reason" th:value="${reason}" />
    </p>

    <button type="submit">Guardar cambios</button>

</form>

<br><br>
<a th:href="@{/Technician/papPatiList}">Volver a la lista</a>

</body>
</html>