<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Gestionar Ovi Users</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Lista de Ovi Users</h1>
<table>
    <thead>
    <tr>
        <th>DNI</th>
        <th>Fecha de Nacimiento</th>
        <th>Dirección</th>
        <th>Tutor Legal</th>
        <th>Estado</th>
        <th>Razón</th>
        <td>Preferencias del Usuario</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.dni}"></td>
        <td th:text="${user.birthdayDate}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.legalGuardian}"></td>
        <td th:text="${user.state}"></td>
        <td th:text="${user.reason}"></td>
        <td th:text="${user.userPreferences}"></td>

        </td>
        <td><a th:href="@{/Technician/userManagement/{dni}(dni=${user.dni})}">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<br><br>
<a href="/" >Volver</a>
</body>
</html>
