<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Gestionar Ovi Users</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Lista de Ovi Users</h1>
<table>
    <thead>
    <tr>
        <th>Dni</th>
        <th>BirthdayDate</th>
        <th>Address</th>
        <th>LegalGuardian</th>
        <th>Accepted</th>
        <th>Reason</th>
        <th>UserPreferences</th>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="oviUser: ${oviUsers}">
        <td th:text="${oviUser.dni}"></td>
        <td th:text="${oviUser.birthdayDate}"></td>
        <td th:text="${oviUser.address}"></td>
        <td th:text="${oviUser.LegalGuardian}"></td>
        <td th:text="${oviUser.reason}"></td>
        <td th:text="${oviUser.userPreferences}"></td>
        <td><a th:href="@{/Ovi_User/update/{dni}(dni=${oviUser.dni})}">Editar</a>
        </td>
        <td><a th:href="@{/Ovi_User/delete/{dni}(dni=${oviUser.dni})}">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Añadir Ovi User</a>
<br><br>
<a href="/" >Volver</a>
</body>
</html>
