<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>SgOvi - Menú Usuario</title>
</head>
<body>

<div layout:fragment="content">
    <section class="menu-container">

        <header class="app-header">
            <h1 class="title">Panel del Usuario (OVI)</h1>
            <p class="description">Bienvenido a tu panel de gestión personal. Selecciona una opción para continuar.</p>
        </header>

        <nav class="menu-grid">

            <a th:href="@{/Assistance_Request/apRequestList}" class="btn btn-primary">Mis solicitudes de asistencia</a>
            <a th:href="@{/Activity/list}" class="btn btn-primary">Mis actividades</a>
            <a th:href="@{/Contracts/list}" class="btn btn-primary">Mis contratos</a>
            <a th:href="@{/profile}" class="btn btn-primary">Cambiar datos personales</a>
        </nav>

        <footer class="register-footer">
            <div class="button-group">
                <a th:href="@{/}" class="btn btn-secondary">Inicio</a>
                <a th:href="@{/logout}" class="btn btn-secondary">Cerrar sesión</a>
            </div>
        </footer>

    </section>
    <div class="bottom-spacer"></div>
</div>

</body>
</html>