<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <meta charset="UTF-8" />
    <title>Actualiza un usuario OVI</title>
</head>

<body>
<main>
    <h1>Actualiza los datos del usuario OVI</h1>
    <form th:action="@{/Ovi_User/add}" th:object="${oviUser}" method="post">
        <div>
            <label for="birthdayDate">Fecha Nacim.: </label>
            <input id="birthdayDate" type="date" th:field="*{birthdayDate}">
        </div>


        <div>
            <label for="password" >Contraseña</label>
            <input id="password" type="password" th:field="*{password}" >
        </div>


        <div>
            <label for="address">Dirección</label>
            <input id="address" type="text" th:field="*{address}">
        </div>

        <div>

            <label for="legalGuardian">Tutor legal</label>
            <input id="legalGuardian" th:field="*{legalGuardian}" >
        </div>

        <div>
            <label for="accepted">Aceptado</label>
            <input id="accepted" type="checkbox" th:field="*{accepted}">
        </div>

        <div >
            <label for="reason">Gènere</label>
            <input id="reason" type="text" th:field="*{reason}">
        </div>

        <div >
            <label for="userPreferences">Preferencias de usuario</label>
            <input id="userPreferences" type="text" th:field="*{userPreferences}">
        </div>

        <button type="submit">Actualiza usuario OVI</button>
    </form>
</main>
</body>
</html>
