<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/base}">
<head>
    <meta charset="UTF-8" />
    <title>SgOvi - Añadir Contrato</title>
</head>
<body>

<div layout:fragment="content">
    <section class="page-container">
        <header class="app-header">
            <h1 class="title">Añadir Nuevo Contrato</h1>
            <p class="description">Rellene los datos para dar de alta un nuevo contrato.</p>
        </header>

        <form th:action="@{/Contracts/add/{id}(id=${contract.idSelection})}" th:object="${contract}" method="post">
            <div class="textarea-container">
                <label for="startDate" class="detail-label">Fecha de Inicio:</label>
                <input id="startDate" type="date" th:field="*{startDate}" class="filter-select" />
                <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error-msg"></span>
            </div>

            <div class="textarea-container">
                <label for="endDate" class="detail-label">Fecha de Fin:</label>
                <input id="endDate" type="date" th:field="*{endDate}" class="filter-select" />
                <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="error-msg"></span>
            </div>

            <div class="textarea-container">
                <label for="salary" class="detail-label">Salario (€):</label>
                <input id="salary" type="number" step="0.01" th:field="*{salary}" class="filter-select" />
                <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="error-msg"></span>
            </div>

            <div class="textarea-container">
                <label for="schedule" class="detail-label">Horario laboral:</label>
                <select id="schedule" th:field="*{schedule}" class="filter-select">
                    <option th:each="shift : ${T(es.uji.ei1027.sgOvi.model.enums.ShiftType).values()}"
                            th:value="${shift.name()}"
                            th:text="${shift.getDescription()}">
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('schedule')}" th:errors="*{schedule}" class="error-msg"></span>
            </div>

            <div style="display: none;">
                <input type="hidden" th:field="*{idSelection}" />
            </div>

            <div class="content-footer">
                <div class="nav-back">
                    <a th:href="@{/Assistance_Request/papPatiSelection/{id}(id=${idAsReq})}" class="btn btn-secondary btn-icon" title="Volver al listado de selecciones"> <i class="fi fi-rr-arrow-left"></i> Cancelar y Volver</a>
                </div>
                <button type="submit" class="btn btn-secondary btn-icon" title="Crear el contrato"
                        onclick="return confirm('¿Seguro que quieres crear el contrato? Todas las selecciones anteriores serán rechazadas automáticamente">
                    Crear contrato <i class="fi fi-rr-add-document"></i>
                </button>
            </div>
        </form>
    </section>
    <div class="bottom-spacer"></div>
</div>

</body>
</html>