<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
  <meta charset="UTF-8" />
  <title>Crear nou nadador</title>
  <link rel="stylesheet"         href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>


<body>
<main class="container">
  <h1>Nou nadador</h1>
  <form class="form-horizontal" th:action="@{/nadador/add}" th:object="${nadador}" method="post">
    <div class="form-group row">
      <label for="nom" class="control-label col-sm-2">Nom: </label>
      <input id="nom" type="text" th:field="*{nom}" ③ class="form-control col-sm-4">
    </div>


    <div class="form-group row">
      <label for="numFederat" class="control-label col-sm-2">Num. Federat</label>
      <input id="numFederat" type="text" th:field="*{numFederat}" class="form-control col-sm-4">
    </div>


    <div class="form-group row">
      <label for="pais" class="control-label col-sm-2">País</label>
      <input id="pais" type="text" th:field="*{pais}" class="form-control col-sm-4">
    </div>


    <div class="form-group row">
      <label for="edat" class="control-label col-sm-2">Edat</label>
      <input id="edat" type="number" th:field="*{edat}" class="form-control col-sm-4">
    </div>


    <div class="form-group row">
      <label for="genere" class="control-label col-sm-2">Gènere</label>
      <input id="genere" type="text" th:field="*{genere}" class="form-control col-sm-4">
    </div>


    <button type="submit" class="btn btn-primary">Afegeix nadador</button>


  </form>
</main>
</body>
</html>
