<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Gestionar selecciones de asistente personal</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Mis candidatos para asistencia personal </h1>
<table th:unless="${selections.isEmpty()}">
    <tr>
        <thead>
        <th>idSelection</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Asistente Personal</th>
        <th>Opcion</th>
    <tr th:each="selection: ${selections}">
        <td th:text="${selection.idSelection}"></td>
        <td th:text="${selection.date}"></td>
        <td th:text="${selection.state.getDescription()}"></td>
        <td th:text="${selection.idPapPati}"></td>

        <td>
            <a th:href="@{/Assistance_Request/papPatiInfo/{idPapPati}(idPapPati=${selection.idPapPati})}">Info Asistente</a>
        </td>

        <td>
            <form th:action="@{/Assistance_Request/approveSelection/{idSelection}(idSelection=${selection.idSelection})}" method="post">
                <button type="submit" th:disabled="${selection.state.name() == 'APPROVED'}">Aprobar</button>
            </form>
        </td>

        <td>
            <form th:action="@{/Assistance_Request/rejectSelection/{idSelection}(idSelection=${selection.idSelection})}" method="post">
                <button type="submit" th:disabled="${selection.state.name() == 'REJECTED'}">Rechazar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h2 th:if="${selections.isEmpty()}">El técnico no te ha asignado ningún candidato todavia </h2>

<a href="/" >Volver</a>
</body>
</html>
